jupyter==1.0.0
python-language-server==0.36.2
python-lsp-server==1.11.0
openai==1.59.8
langchain-core==0.3.33
langchain-community==0.3.16
langchain==0.3.17
langchain-experimental==0.3.4
langchain-google-genai==2.0.9
langchain-openai==0.3.2
pillow==10.4.0
scikit-learn==1.6.1
google-generativeai==0.8.3
llama-index==0.12.15
llama-index-llms-gemini==0.4.5
gradio==5.14.0
flet==0.26.0
flet-desktop-light==0.26.0

